@import "tailwindcss";

html,
body,
#root {
	min-height: 100%;
	height: auto;
}

html {
	overflow-y: auto;
}

body {
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

#root {
	overflow: visible;
}
